html {
  user-select: none;
}
header {
	padding-top: 10px;
  background: #26a69a;
  border-bottom: 4px solid #eaeaea;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
.pane-title {
	margin-bottom: 10px;
}
.page-header {
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}
.page-container {
  display: flex;
  height: calc(100vh - 84px); 
}
.message-box {
	text-align: center;
  font-size: 1.75rem;
  margin: 3%;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  z-index: 100;
}
.row {
	margin-bottom: 10px;
}
.col {
	float: left;
	display: inline-block;
	box-sizing: border-box;
}
.left-pane {
  flex: 1;
  box-shadow: 0px 0px 10px 0px;
  z-index: 8;
  min-width: 200px;
}
.center-pane {
  flex: 4;
  min-width: 500px;
}
.top-pane {
  height: 100px;
  box-shadow: 5px 0px 6px 0px;
}
.collection .collection-item.avatar {
	min-height: 60px;
}
.notification {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  max-width: 50%;
  min-width: 500px;
  text-align: center;
  padding: 10px;
  background: #51b9af;
  color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.notification.show {
  transition: top;
  animation: notifyAnimation 5s;
}
.dropzone-overlay {
  top: 80px;
  position: fixed;
  left: 0px;
  z-index: 299;
  width: 100%;
  height: calc(100% - 80px);
  background: rgba(38, 166, 154, 0.2);
  border: 3px dashed #26a69a;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.dropzone-overlay.hide-overlay {
  visibility: hidden;
  opacity: 0;
}
.float-upload-btn {
  width: 60px;
  height: 60px;
  background: #26a69a;
  border-radius: 35px;
  color: white;
  font-size: 42px;
  padding-left: 18px;
  float: right;
  position: absolute;
  right: 50px;
  bottom: 50px;
  box-shadow: 0px 1px 12px -1px rgb(0, 0, 0);
  z-index: 400;
  transition: all 0.3s ease-in;
  user-select: none;
}
.float-upload-btn.active {
  background: white;
  color: #26a69a;
  transform: rotate(45deg);
}
.float-upload-btn:hover {
  cursor: pointer;
  box-shadow: 0px 1px 12px 0px rgb(0, 0, 0);
}
.files-container {
  margin-top: 10px;
}
.file-row {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.file-list-header .title {
  font-weight: bold;
  color: darkslategray;
  border-right: 2px solid lightgray;
}
.file-list-header .file-row {
  line-height: 30px;
  padding: 6px 15px;
}
.file-list-header .file-name {
  margin-left: 5px;
}
.file-list-header .file-date, .file-list-header .file-size {
  text-align: center;
}
.file-name {
  flex: 3;
  text-align: left;
  margin: auto;
  word-break: break-all;
}
.file-timestamp {
  text-align: center;
  flex: 2;
}
.file-date, .file-actions, .file-size, .file-operation, .file-status {
  text-align: center;
  margin: 0 5px;
  flex: 1;
}
.action-ribbon {
  height: 50px;
  margin-bottom: 6px;
}
.file-actions {
  text-align: right;
  padding: 8px;
  margin-right: 5%; 
}
.action-ribbon .primary-btn {
  background: #26a69a;
  color: white;
  border: none;
  padding: 8px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 15px;
  display: inline-block;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.68);
}
.action-ribbon .delete-btn {
  background: #f35353;
  color: white;
  border: none;
  padding: 8px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.68);
}
.file-list-header {
  background: #f1f1f1;
}
.file-list-section {
  max-height: calc(100vh - 204px);
  overflow: auto;
}
.file-list-section .file-row.selected {
  background: #26a69a;
  color: white;
}
.doc {
  width: 90%;
  margin: 0 5%;
  height: calc(100vh - 12%);
  border-width: 0;
}
.img {
  max-width: calc(100%);
  max-height: calc(100% - 100px);
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.close-fileview {
  float: right;
  margin: 1%;
  font-size: 24px;
  color: white;
  padding: 0px 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}
.close-fileview .close-icon {
  font-size: 48px;
}
.hide-file {
  visibility: hidden;
}
.file-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 500;
}
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 500;
}
.spinner-text {
  position: absolute;
  top: 0%;
  margin: 23.3% auto;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 19px;
}
.top-section {
  height: 180px;
}
.nav-list li {
  line-height: 50px;
  text-align: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.nav-list li:hover {
  font-weight: bold;
  color: #26a69a;
  box-shadow: 0px 2px 6px 0px grey;
}
.nav-list li.selected {
  font-weight: bold;
  background: #26a69a;
  box-shadow: 0px 2px 6px 0px grey;
  color: white;
}
.nav-list li a {
    color: inherit;
}
.profile-icon {
  background: #26a69a;
  color: white;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  border-radius: 50px;
  font-size: 60px;
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
}
.user-profile-icon {
  background: #26a69a;
  color: white;
  height: 150px;
  width: 150px;
  margin-top: 5%;
  border-radius: 100px;
  font-size: 120px;
  padding: 16px;
  text-align: center;
}
.profile-name {
  text-align: center;
  font-size: 24px;
  color: darkslategray;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
.no-file-section {
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: lightgray;
}
.profile-info {
  margin: 5%;
}
.user-profile {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 15px;
  font-size: 24px;
}
.user-label {
  text-align: left;
  grid-column: 5/7;
  color: #26a69a;
  font-weight: bold;
  text-transform: capitalize;
}
.user-value {
  text-align: left;
  grid-column: 7/10;
}
.action-ribbon .left-pane-btn {
  display: none;
}
.file-row .file-icon {
  margin-right: 5px;
  font-size: 22px;
  color: #26a69a;
}
.file-row.selected .file-icon {
  margin-right: 5px;
  font-size: 22px;
  color: white;
}
/* ------------- Animations ------------ */

@keyframes notifyAnimation {
  0% {
    top: 0px;
  }

  25% {
    top: 84px;
  }

  75% {
    top: 84px;
  }

  100% {
    top: 0px;
  }
}

@keyframes mobNotifyAnimation {
  0% {
    top: 0px;
  }

  25% {
    top: 65px;
  }

  75% {
    top: 65px;
  }

  100% {
    top: 0px;
  }
}

::-webkit-scrollbar { 
    display: none; 
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/* ------------- Overrides ------------- */

.dropzone.dz-clickable {
  background: transparent;
  top: 80px;
  position: fixed;
  left: 0px;
  z-index: 299;
  width: 100%;
  height: calc(100% - 80px);
  background: rgba(38, 166, 154, 0.1);
  border: 3px #26a69a dashed;
  display: block;
}
.dropzone a {
  color: #26a69a;
}
.dz-message {
  color: white;
  font-size: 70px;
  width: 60%;
  margin: 10% auto !important;
}
.dropzone .dz-preview .dz-image {
  border-radius: 0px !important;
}
.dropzone .dz-preview .dz-progress {
  border-radius: 0px !important; 
}

/* ------------ Spinner css ------------- */

.loader {
  font-size: 10px;
  margin: 20% auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




/* login.css */

a {
  cursor: pointer;
}

.hide {
  display: none;
}

.form-text {
  color: #26a69a;
}

.form-text.error {
  color: red;
}

button.btn.waves-effect.waves-light {
  margin: 20px;
  display: block;
}

h5
{
  font-weight: 400;
}

.container {
  margin-top: 10px;
  width: 90%;
  max-width: 400px;
}

.tabs {
  cursor: pointer;
  user-select: none;
}

.tabs .indicator {
  background-color: #e0f2f1;
  height: 60px;
  opacity: 0.3;
  right: 50%;
  left: 0px;
  transition: 0.3s;
}

.tabs .indicator.slide {
  transition: 0.3s;
  left: 50%;
  right: 0px;
}

.form-container {
  padding-top: 20px;
}


/* -------- mobile app --------- */


@media screen and (max-width: 699px) {
  header {
    z-index: 410;
  }
  .center-pane {
    min-width: 200px;
  }
  .message-box {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 5% 3%;
  }
  .loader {
    top: 30%;
  }
  .spinner-text {
    display: none;
  }
  .file-date {
    display: none;
  }
  .notification {
    min-width: 200px;
  }
  .notification.show {
    animation: mobNotifyAnimation 5s;  
  }
  .left-pane {
    left: -255px;
    position: absolute;
    background: white;
    height: calc(100vh - 64px);
    transition: 0.5s;
    z-index: 408;
  }
  .left-pane.expanded {
    left: 0;
    transition: 0.5s;
  }
  .file-actions {
    margin-right: 1%; 
  }
  .action-ribbon .left-pane-btn {
    display: inline-block;
    position: absolute;
    margin: 2%;
  }
  .slider-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 401;
  }
  .slider-overlay.show {
    display: block;
  }
  .file-list-header .title {
    border-right: none;
  }
  .file-timestamp {
    display: none;
  }
  .dz-message {
    font-size: 42px;
  }
  .user-profile-icon {
    height: 100px;
    width: 100px;
    font-size: 72px;
    padding: 12px;
    margin: 5%;
  }
  .user-profile {
    font-size: 18px;
  }
  .user-label {
    grid-column: 3/6;
  }
  .user-value {
    grid-column: 6/10;
  }
  .float-upload-btn {
    right: 25px;
    bottom: 25px;
  }
  .close-fileview {
    margin: 2% 0;
  }
  .close-fileview .close-icon {
    font-size: 32px;
    vertical-align: middle;
  }
  .action-ribbon .primary-btn {
    margin-left: 10px;
  }
  .action-ribbon .delete-btn {
    margin-left: 10px;
  }
  .page-header {
    font-size: 32px;
    line-height: 40px;
  }
  .page-container {
    height: calc(100vh - 64px);
  }
  .file-list-section {
    max-height: calc(100vh - 184px);
  }
  .dropzone-overlay, .dropzone.dz-clickable {
    top: 64px;
    height: calc(100% - 64px);
  }
}
